{{link-to 'Back to list of orgs' 'orgs'}}
<h4>
  <img src="{{content.avatar_url}}" height='48' >
  {{content.name}} <a target="_blank" href="{{content.url}}">GitHub</a></h4>

{{log content}}

{{outlet}}


